.contacts {
    display: flex;
    gap: 50px;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        flex-direction: column;
        gap: 10px; 
    }
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        gap: 30px;
        
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--secondary-txt-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: calc(14 / 12);
    }
}

.contacts__link {
    &:hover,
    &:focus {
        color: var(--accent-txt-color);
    }
}

.contacts__icon {
    fill: currentColor;
}