:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --main-txt-color: #212121;
    --secondary-txt-color: #757575;
    --accent-txt-color: #2196F3;
    --light-txt-color: #FFFFFF;
    --bg-color: #2F303A;
}
